/* Container needed to position the button. Adjust the width as needed */
#container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
#container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
#container .btn {
  position: absolute;
  top: 95%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color:#80CBC4;
 /*color: grey;*/
 font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#container .btn:hover {
  background-color: #03A9F4;
      box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}