table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width:25%;
}

th, td {
    padding: 15px;
}
table td:hover{
	background-color: #EDE7F6

;
}